In [1]:
! pip install --quiet pandas

In [2]:
import pandas as pd

In [3]:
def extract(filename: str,delimiter:str=',') -> pd.DataFrame:

    try:
        return pd.read_csv(filename,delimiter=delimiter)

    except:
        print(f"Error: File '{filename}' not found")
        return pd.DataFrame

In [4]:
df_movies = extract("movies.csv")

In [5]:
def transform(movies: pd.DataFrame) -> pd.DataFrame:
    movies['profit'] = movies['gross'] - movies['budget']
    df_subset = movies[['name','genre','year','country','budget','gross','profit']]
    return df_subset

In [7]:
df_subset = transform(df_movies)
df_subset.head()

,name,genre,year,country,budget,gross,profit
0,The Shining,Drama,1980,United Kingdom,19000000.0,46998772.0,27998772.0
1,The Blue Lagoon,Adventure,1980,United States,4500000.0,58853106.0,54353106.0
2,Star Wars: Episode V - The Empire Strikes Back,Action,1980,United States,18000000.0,538375067.0,520375067.0
3,Airplane!,Comedy,1980,United States,3500000.0,83453539.0,79953539.0
4,Caddyshack,Comedy,1980,United States,6000000.0,39846344.0,33846344.0

In [8]:
def load(tranformed: pd.DataFrame, filename, delimiter=',') -> None:
    try:
        transformed.to_csv(filename, sep=delimiter, index = False)
    except Exception as e:
        print(f"An error occured while writting the file: {e}")

SyntaxError: invalid syntax (1591568455.py, line 1)